
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    max-width: 1024px; 
}

header {
    display: flex;
}

h1 {
    font-family: 'Great Vibes';
    color: white;
    font-size: 90px;
    font-weight: 100;
    text-shadow: white 0 0 10px;
    margin-top: 15px;
}

h2 {
    font-family: 'Great Vibes';
    color: white;
    font-size: 36px;
    font-weight: 100;
    text-shadow: white 0 0 10px;
}

p {
    color: white;
    font-size: 16px;
    font-weight: 100;
}

.phone a {
    display: block;
    font-family: 'Great Vibes';
    background-color: white;
    color:black;
    font-size: 60px;
    font-weight: 100;
    text-shadow: white 0 0 10px;
    text-decoration: none;
    text-align: center;
    box-shadow: white 0 0 10px;
}

#logo {
    color: white;
    font-size: 90px;
    text-shadow: white 0 0 10px;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.image {
    width: 45%;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: white 0 0 10px;
}

.articles {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
}

article {
    width: 30%;
}

footer {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.email {
    font-size: 14px;
    color: white;
    text-decoration: none;
}
