
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color1: rgb(214, 193, 122);
    --color2: rgb(214, 193, 122);
    --color3: rgb(206, 200, 180);
}

html {
    background-color: rgb(34, 34, 34);
}

body {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    max-width: 1024px;
    padding: 0 2%
}

.top {
    display: grid;
    grid-template-rows: 55vh auto;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: inset var(--color2) 0 0 10px;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-self: center;
}

h1 {
    font-family: 'Great Vibes';
    color: var(--color1);
    font-size: 90px;
    font-weight: 100;
    text-shadow: var(--color2) 0 0 10px;
    margin-top: 15px;
}

h2 {
    font-family: 'Great Vibes';
    color: var(--color1);
    font-size: 22px;
    font-weight: 100;
    text-shadow: var(--color2) 0 0 10px;
    text-align: center;
}

p {
    color: var(--color3);
    font-size: 16px;
    font-weight: 100;
}

.phone a {
    display: block;
    font-family: 'Great Vibes';
    background-color: black;
    color: var(--color1);
    font-size: 60px;
    font-weight: 100;
    text-shadow: var(--color2) 0 0 5px;
    text-decoration: none;
    text-align: center;
    box-shadow: var(--color2) 0 0 10px;
    border-radius: 10px;
}

#logo {
    color: var(--color1);
    font-size: 90px;
    text-shadow: var(--color2) 0 0 10px;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-self: end;
    padding-bottom: 3%;
    margin-bottom: 10px;
}

.image {
    width: 45%;
    border-radius: 10px;
    box-shadow: var(--color2) 0 0 10px;
}

.articles {
    display: flex;
    justify-content: space-evenly;
    margin: 10% 0;
}

article {
    width: 30%;
    padding: 15px;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: center;
    margin: 10%;
}

.email {
    font-size: 14px;
    color: var(--color3);
    text-decoration: none;
}

@media screen and (max-width: 800px) {

    .top {
        display: block;
    }

    header {
        padding: 50px 0;
    }
    
    h1, #logo, .phone a {
        font-size: 45px;
    }

    h1 {
        margin-top: 8px;
    }

    .articles {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    article {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {

    header {
        padding: 50px 0;
    }

    h1, #logo, .phone a {
        font-size: 30px;
    }

    h1 {
        margin-top: 4px;
    }

    .gallery {
        display: none;
    }

    .articles {
        margin: 0;
        flex-direction: column;
    }

    article {
        width: 90%;
    }
}