


/*******************************
       INDEX  Page Rules
*******************************/

@font-face {
    font-family: 'fira sans';
    src: url(fonts/FiraSans-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'frank ruhl libre';
    src: url(fonts/FrankRuhlLibre-Bold.ttf);
    font-style: normal;
    font-weight: 100;
}

* {
    margin: 0;
}

body {
    font-family: fira sans;
}

.bottom {
    height: 100px;
}

h2 {
    color: white;
    font-family: frank ruhl libre, serif;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -3px;
}

h3 {
    font-family: frank ruhl libre, serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}

h4 {
    font-family: frank ruhl libre, serif;
    font-size: 1.25rem;
    padding: 1.25rem;
}

h5 {
    font-family: frank ruhl libre, serif;
    font-size: 1.25rem;
    padding: 1.25rem;
}

p {
    font-family: fira sans, sans serif;
    font-size: 14px;
}
.smaller-p {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: rgb(169, 161, 158);
}

a:hover {
    color: black;
}

.card-heading {
    text-align: center;
    padding: 0;
}

.font-center {
    text-align: center;
}

.font-black {
    color: black;
}

/*************************************
         Page Rules Contact
*************************************/

body {
    font-family: lira sans, sans-serif;
}

.wrapper {
    max-width: 960px;
    margin: auto;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-padding {
    padding-top: 10%;
}

li a, li p, label, address {
    font-size: 0.75rem;
    line-height: 1.5rem;
    font-weight: 900;
}

.button-design {
    background-color: white;
    width: 7rem;
    height: 2.2rem;
    border: none;
    border-radius: 2.2rem;
    box-shadow: 0 2px rgb(80, 80, 80);
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 700;
}

.color-1 {
    background-color: rgb(199, 221, 234);
}

.color-2 {
    background-color: rgb(241, 121, 73);
}

.color-3 {
    background-color: rgb(250, 177, 49);
}

.color-4 {
    background-color: rgb(169, 161, 158);
}

.color-5 {
    background-color: rgb(235, 235, 235);
}

.color-6 {
    background-color: rgb(119, 117, 116);
}

.color-7 {
    background-color: white;
}

/*****************************
        Header index
******************************/

.index-header {
    padding: 0;
    width: 100%;
}

.intro-text {
    padding: 40px 20px;
}

.intro-container h2 {
    font-family: frank ruhl libre;
    text-align: left;
}

.intro-container p {
    font-family: fira sans;
    margin-top: 10px;
}

.price {
    color: white;
}

.intro-button {
    margin: 20px 20px 40px 20px;
}

.image-family {
    display: block;
    max-width: 100%;
    padding-bottom: 0;
    justify-self: flex-end;
}

.learn-container {
    padding: 75px 0;
    flex-direction: column;
    display: flex;
    grid-row: 3 / 3;
}

.join-container {
    padding: 75px 0;
    flex-direction: column;
    display: flex;
    grid-row: 2 / 2;
}

.navbar {
    display: none;
}


/*******************************************
                Header Contact
*******************************************/
.contact-header {
    padding-top: 40px;
}

.top-picture {
    align-self: center;
    max-height: 25%;
    max-width: 25%;
}

/*************************************
           Main Index
*************************************/

.main-header {
    padding: 10%;
    align-items: center;
}

.main-button {
    margin-top: 40px;
}

.main-text {
    padding: 0 10% 10% 10%;
}

.main-about {
    padding: 5% 10% 10% 10%;
}
.main-about > p {
    margin: 30px;
}

.main-button {
    display: none;
}

.card-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.main-card {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 100px 100px 50px auto;
    margin: 10px 50px 10px 50px;
}

.white-box {
    background-color: white;
    grid-column: 1 / span 3;
    grid-row: 2 / span 4;
    border-radius: 5px;
}

.card-text {
    grid-column: 2;
    grid-row: 4 / span 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
    margin: 10px;
}

.card-image {
    grid-column: 2;
    grid-row: 1 / span 3;
    display: grid;
    overflow: hidden;
    justify-content: center;
    border-radius: 5px;
}

.child-picture {
    padding-top: 40px;
    max-height: 200px;
    justify-self: center;
}

.adult-picture, .old-picture {
    padding-top: 40px;
    max-height: 500px;
    justify-self: center;
}

/*******************************************
              Main Contact
*******************************************/

.form-container {
    padding-bottom: 8%;
}

.contact-form {
    display: grid;
    color: white;
    width: 12.5rem;
}

input {
    height: 2.2rem;
}

textarea {
    height: 9.5rem;
    resize: none;
    padding: 10px;
}

input, textarea {
    margin-bottom: 5%;
    border: none;
    border-radius: 2px;
    font-family: lira sans, sans-serif;
    font-size: 0.75rem;
}

.submit-button {
    justify-self: center;
}

.map-container {
    background-image: url(img/map.jpg);
    padding: 0;
}

.address-card {
    padding: 20px;
    margin: 15%;
}

address {
    color: white;
    font-style: normal;
}

/***************************************
            List Index
***************************************/

.list-container>section {
    display: grid;
    grid-template-rows: auto;
    height: 200px;
}

.numbers {
    grid-row: 1;
    grid-column: 1;
    color: lightgray;
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.4)
}

.list-heading h2 {
    margin: 0 50px;
    color: black;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.list-text {
    font-size: 16px;
    font-weight: 600;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin: 0 50px;
    grid-row: 1;
    grid-column: 1;
}

/***********************************
       Footer Index
***********************************/

.takeup-button {
    min-height: 2rem;
    text-align: center;
    align-self: center;
    border: none;
    width: 100%;
    padding: 20px 10px;
}
.takeup-button > p {
    line-height: 0.2rem;
}

footer button:hover {
    box-shadow: 0 2px rgb(80, 80, 80);
}

/****************************************
                Media Query
****************************************/
@media only screen and (min-width: 769px) {

    /*************************************
            Page Rules  Contact
    *************************************/

    .flex-center {
        flex-direction: row;
    }

    /************************************
            Header Index Desktop
    ************************************/

    .index-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) auto;
    }

    .intro-container {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: repeat(2, auto);
        flex-direction: column;
        padding-top: 20px;
    }

    .intro-text {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        padding: 0 100px;
    }

    .intro-button {
        grid-row: 2 / 2;
        grid-column: 1 / 1;
        margin-top: 4rem;
        margin-left: 100px;
    }

    .image-family {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        max-width: 60%;
        justify-self: right;
    }

    .learn-container {
        justify-content: center;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-items: center;
    }

    .join-container {
        justify-content: center;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-items: center;
    }

    /************************************
           Heading Contact Desktop
    *************************************/
    .heading {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 22rem;
        overflow: hidden;
    }

    .heading-text {
        grid-column: 2;
    }

    .top-picture {
        align-self: flex-start;
        grid-row: 1;
        grid-column: 3;
        max-height: 150%;
        max-width: 150%;
    }

    .navbar {
        grid-row: 3;
        grid-column: 1 / 3;
        display: flex;
        height: 4.25rem;
        white-space: nowrap;
    }

    .navigations {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20%;
    }

    .navigations li {
        display: inline-flex;
        list-style: none;
    }

    /*************************************
             Main Index DESKTOP
    *************************************/

    .main-card {
        margin: 10px;
    }

    .index-main {
        background: linear-gradient(180deg, rgb(169, 161, 158) 50%,rgb(250, 177, 49) 50%);
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        padding: 0 100px;
        max-width: 960px;
    }

    .index-main button {
        display: block;
    }

    .main-header {
        grid-row: 1/2;
        grid-column: 1/2;
        padding: 100px 0 0 0;
        text-align: left; 
    }

    .main-text {
        grid-row: 1/2;
        grid-column: 2/3;
        padding: 100px 0 0 100px;
    }

    .main-about {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .card-container {
        grid-row: 2/3;
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }

    /************************************
            Main Contact Desktop
    *************************************/

    .form-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-form {
        width: 19rem;
    }

    .submit-button {
        justify-self: right;
    }

    .header-container {
        align-self: flex-start;
        padding: 0 60px;
    }

    /**********************************
            List Index Desktop
    ***********************************/

    .list-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /**********************************
        Map Section Contact Desktop
    ***********************************/
    .address-card {
        margin: 3% 0% 17% 8%;
        padding-bottom: 70px;
    }
}